@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Light.otf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Regular.otf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Medium.otf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-SemiBold.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Bold.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Heavy.otf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'CascadiaCode';
    src: url("/Assets/Fonts/CascadiaCodePL-SemiLight.otf");
    font-style: normal;
    font-weight: 200;
}

* {
    transition: all 0.15s ease-in-out;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 110%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: rgb(247, 247, 247);
}

header {
    position: absolute;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 210px;
    top: 0%;
    z-index: 10;
}

.logo {
    position: absolute;
    height: 20%;
    top: 77px;
    left: 100px;
    z-index: 70;
}

.logo:hover {
    cursor: pointer;
}

.nhr {
    position: absolute;
    bottom: 86px;
    width: 90%;
    right: 100px;
    font-size: 20px;
    font-family: 'Roobert';
    font-weight: 400;
    color: black;
    text-align: right;
    align-items: right;
    opacity: 100%;
}

#hashrate {
    position: absolute;
    bottom: 61px;
    width: 90%;
    right: 100px;
    font-size: 20px;
    font-family: 'Roobert';
    font-weight: 400;
    color: #ff6404;
    text-align: right;
    align-items: right;
    opacity: 100%;
}
.grid-container {
    position: absolute;
    width: 60%;
    height: 72px;
    left: 20%;
    top: 260px;
    display: grid;
    grid-template-columns: 14% 9% 60% 17%;
    background-color: none;
    opacity: 0;
    transition-delay: 0.1s;
}

.grid-container.active {
    opacity: 1;
    z-index: 20;
}

.grid-item {
    background-color:rgb(255, 255, 255);
    padding: 22.5px;
    font-size: 22px;
    color: #2e2e2e;
    text-align: center;
    font-family: 'Roobert';
    font-weight: 200;
}

.grid-item:nth-child(1) {
    background-color: #ffece4;
    border-radius: 13px 0 0 0;
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: #ff6404;
}
.grid-item:nth-child(2) {
    background-color: #ffece4;
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: #ff6404;
}
.grid-item:nth-child(3) {
    background-color: #ffece4;
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: #ff6404;
}
.grid-item:nth-child(4) {
    background-color: #ffece4;
    border-radius: 0 13px 0 0;
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: #ff6404;
}
.grid-item:nth-last-child(4) {
    border-radius: 0 0 0 13px;
} 

.grid-item:nth-last-child(1) {
    border-radius: 0 0 13px 0;
} 

.input {
    position: absolute;
    top: 80px;
    border-radius: 13px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.048);
    height: 45px;
    right: 34%;
    width: 32%;
    outline: none;
    font-size: 14px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Roobert';
    font-weight: 300;
    color: rgba(0, 0, 0, 0.815);
    z-index: 12;
}

.input:hover {
    background-color: rgba(0, 0, 0, 0.062);
}

.input:focus {
    background-color: rgba(0, 0, 0, 0.062);
}

.hashHover:hover {
    color: #ff6404;
    transition: all 0.025s ease-in-out;
}

#backButton {
position: fixed;
height: 60px;
width: 130px;
border-width: 1px;
border-radius: 9px;
top: 266px;
left: 12.5%;
z-index: 20;
opacity: 0;
user-select: none;
}

#backButton.active {
    left: 12%;
    opacity: 1;
    user-select: initial;
    cursor: pointer;
    }

#backButton:hover {
    background-color: #ffece488;
    transform: translateX(-2px);
    }

    #backButton:hover #backButtonSVG {
        transform: translateX(-4px);
        opacity: 1;
        }

#backButtonSVG {
    position: relative;
    opacity: 80%;
    height: 40%;
    top: 30%;
    left: 30%;
    width: 40%;
    transition: all 0.2s ease-in-out;
}

#homeButton {
    position: fixed;
    height: 60px;
    width: 130px;
    border-width: 1px;
    border-radius: 9px;
    top: 336px;
    left: 12.5%;
    z-index: 20;
    opacity: 0;
    user-select: none;
    }
    
    #homeButton.active {
        left: 12%;
        opacity: 1;
        user-select: initial;
        cursor: pointer;
        }
    
    #homeButton:hover {
        background-color: #ffece488;
        transform: translateX(-2px);
        }
    
        #homeButton:hover #homeButtonSVG {
            transform: translateX(-4px);
            opacity: 1;
            }
    
    #homeButtonSVG {
        opacity: 80%;
        position: relative;
        height: 40%;
        top: 30%;
        left: 30%;
        width: 40%;
        transition: all 0.2s ease-in-out;
    }

#error {
    position: absolute;
    height: 45px;
    right: 34%;
    width: 32%;
    border-radius: 13px;
    top: 139px;
    background-color: rgba(255, 255, 255);
    z-index: 0;
    opacity: 0;
    user-select: none;
    box-shadow: 0px 0px 61px -12px rgba(0, 0, 0, 0.178);
}

#error.active {
    opacity: 1;
    z-index: 50;
    user-select: initial;
    top: 140px;
}

#closeButton {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 3px;
    top: 1px;
    opacity: 30%;
    padding: 15px;
    z-index: 55;
}

#closeButton:hover {
    transform: rotate(90deg);
    opacity: 1;
    cursor: pointer;
    border-radius: 53px;
}

#errorText {
    position: relative;
    width: 100%;
    font-family: 'Roobert';
    font-size: 14px;
    font-weight: 300;
    color: #ff0022;
    padding-left: 20px;
    text-align: left;
    vertical-align: middle;
}

#up {
    position: fixed;
    height: 50px;
    width: 100px;
    border-width: 1px;
    border-radius: 9px;
    bottom: 30px;
    right: 12.5%;
    z-index: 50;
    opacity: 0.5;
    user-select: initial;
}


#up:hover {
    background-color: #2e2e2e3b;
    transform: translateY(-2px);
    cursor: pointer;
    opacity: 1;
}

#up:hover #upSVG{
    transform: translateY(-2px);
}

#upSVG {
    position: relative;
    opacity: 80%;
    height: 20%;
    top: 40%;
    left: 40%;
    width: 20%;

}

