@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Light.otf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Regular.otf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Medium.otf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-SemiBold.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Bold.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Heavy.otf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'CascadiaCode';
    src: url("/Assets/Fonts/CascadiaCodePL-SemiLight.otf");
    font-style: normal;
    font-weight: 200;
}

:root {
    --background: rgb(244, 244, 244);
    --backgroundInv: rgb(19, 19, 19);
    --headerBG: rgba(244, 244, 244, 0.5);
    --text: #2e2e2e;
    --text2: #898989;
    --orange: #ff6404;
    --lightorange: #ffece4;
    --containerBG: rgb(255, 255, 255);
    --buttonHoverBG: #ffece488;
    --inputBG: #ffffff;
    --inputHover: rgba(0, 0, 0, 0.062);
    --mobileNavHover: rgba(0, 0, 0, 0.096);
    --inv: black;
}

[data-theme="dark"] {
    --background: #141414;
    --backgroundInv: rgb(247, 247, 247);
    --headerBG: rgba(20, 20, 20, 0.5);
    --text: #b4b4b4;
    --text2: rgb(138, 138, 138);
    --orange: #ff6404;
    --lightorange: #2C1C12;
    --containerBG: #1B1B1B;
    --buttonHoverBG: #2c1c1254;
    --inputBG: rgba(0, 0, 0, 0.301);
    --inputHover: rgba(0, 0, 0, 0.662);
    --mobileNavHover: rgba(0, 0, 0, 0.336);
    --inv: white;
}

* {
    transition: all 0.15s ease-in-out;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 2050px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: var(--background);
}

header {
    position: fixed;
    background: var(--headerBG);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    height: 210px;
    top: 0%;
    z-index: 50;
    transition: all 0.15s ease-in-out;
}

header.active {
    height: 80px;
    transition: all 0.15s ease-in-out;
}

.logo {
    position: absolute;
    height: 40px;
    z-index: 70;
    top: 0px;
    bottom: 0;
    left: 70px;
    margin: auto;
    transform: scale(0.95);
}

.logo:hover {
    cursor: pointer;
}

.logo.active {
    transform: scale(0.75);
}

.pLogo {
    position: absolute;
    height: 45px;
    z-index: 70;
    top: 0px;
    bottom: 0;
    right: 70px;
    margin: auto;
}

.infoBox {
    position: absolute;
    width: 230px;
    height: 45px;
    top: 0px;
    bottom: 0;
    margin: auto;
    font-size: 16px;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--backgroundInv);
    text-align: center;
    align-items: center;
    opacity: 1;
    line-height: 45px;
    opacity: 1;
    background-color: var(--inputBG);
}

#priceInfo {
    right: 0px;
    top: 0px;
    border-radius: 13px 0 0 13px;
}

#xmrPrice {
    font-weight: 300;
    opacity: 0.6;
}

#priceInfo.active {
    transform: scale(0.85);
    border-radius: 13px 13px 13px 13px;
}

.input {
    position: absolute;
    height: 45px;
    width: 700px;
    top: 0;
    bottom: 0;
    right: 0px;
    left: 0;
    margin: auto;
    border-radius: 13px;
    border-style: none;
    background-color: var(--inputBG);
    outline: none;
    font-size: 14px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Roobert';
    font-weight: 300;
    color: var(--text);
    z-index: 12;
    box-shadow: 0px 10px 15px #00000008;
}

.input:focus {
    box-shadow: 0px 10px 22px #00000013;
}

.input.active {
    transform: scale(0.85);
    width: 600px;
}

.fa-caret-up {
    color: #22c513;
}

.fa-caret-down {
    color: #f13535;
}

.grid-container {
    position: absolute;
    width: 60%;
    height: 72px;
    left: 20%;
    top: 260px;
    display: grid;
    grid-template-columns: 14% 9% 60% 17%;
    background-color: none;
    opacity: 0;
    transition-delay: 0.1s;
}

.grid-container.active {
    opacity: 1;
    z-index: 20;
}

.grid-item {
    background-color: var(--containerBG);
    padding: 22.5px;
    font-size: 22px;
    color: var(--text);
    text-align: center;
    font-family: 'Roobert';
    font-weight: 200;
}

.grid-item:nth-child(1) {
    background-color: var(--lightorange);
    border-radius: 13px 0 0 0;
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--orange);
}

.grid-item:nth-child(2) {
    background-color: var(--lightorange);
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--orange);
}

.grid-item:nth-child(3) {
    background-color: var(--lightorange);
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--orange);
}

.grid-item:nth-child(4) {
    background-color: var(--lightorange);
    border-radius: 0 13px 0 0;
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--orange);
}

.grid-item:nth-last-child(4) {
    border-radius: 0 0 0 13px;
}

.grid-item:nth-last-child(1) {
    border-radius: 0 0 13px 0;
}

.bHeight {
    font-weight: 400;
    font-size: 19px;
}

.bTxs {
    font-size: 19px;
}

.bHash {
    font-family: 'CascadiaCode';
    font-weight: 200;
    font-size: 16px;
    padding-top: 24px;
    cursor: pointer;
}

.bAge {
    font-weight: 300;
    font-size: 16;
    padding-top: 22.5px;
    color: var(--text2);
}

.hashHover:hover {
    color: var(--orange);
    transition: all 0.025s ease-in-out;
}

#backButton {
    position: fixed;
    height: 60px;
    width: 130px;
    border-width: 1px;
    border-radius: 9px;
    top: 266px;
    left: 12.5%;
    z-index: 52;
    opacity: 0;
    user-select: none;
}

#backButton.active {
    left: 12%;
    opacity: 1;
    user-select: initial;
    cursor: pointer;
}

#backButton:hover {
    background-color: var(--buttonHoverBG);
    transform: translateX(-2px);
}

#backButton:hover #backButtonSVG {
    transform: translateX(-4px);
    opacity: 1;
}

#backButtonSVG {
    position: relative;
    opacity: 80%;
    height: 40%;
    top: 30%;
    left: 30%;
    width: 40%;
    transition: all 0.2s ease-in-out;
}

#homeButton {
    position: fixed;
    height: 60px;
    width: 130px;
    border-width: 1px;
    border-radius: 9px;
    top: 336px;
    left: 12.5%;
    z-index: 53;
    opacity: 0;
    user-select: none;
}

#homeButton.active {
    left: 12%;
    opacity: 1;
    user-select: initial;
    cursor: pointer;
}

#homeButton:hover {
    background-color: var(--buttonHoverBG);
    transform: translateX(-2px);
}

#homeButton:hover #homeButtonSVG {
    transform: translateX(-4px);
    opacity: 1;
}

#homeButtonSVG {
    opacity: 80%;
    position: relative;
    height: 40%;
    top: 30%;
    left: 30%;
    width: 40%;
    transition: all 0.2s ease-in-out;
}

#error {
    position: absolute;
    height: 45px;
    width: 700px;
    top: 139px;
    right: 0px;
    left: 0;
    margin: auto;
    border-radius: 13px;
    background-color: rgb(255, 228, 228);
    z-index: 0;
    opacity: 0;
    user-select: none;
    box-shadow: 0px 10px 15px #00000008;
}

#error.active {
    opacity: 1;
    z-index: 50;
    user-select: initial;
    top: 140px;
}

#closeButton {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 3px;
    top: 1px;
    opacity: 30%;
    padding: 15px;
    z-index: 55;
    fill: var(--text);
}

#closeButton:hover {
    transform: rotate(90deg);
    opacity: 1;
    cursor: pointer;
    border-radius: 53px;
}

#errorText {
    position: relative;
    width: 100%;
    font-family: 'Roobert';
    font-size: 14px;
    font-weight: 300;
    color: #ff0022d3;
    padding-left: 20px;
    text-align: left;
    vertical-align: middle;
}

#up {
    position: fixed;
    height: 50px;
    width: 100px;
    border-width: 1px;
    border-radius: 9px;
    bottom: 30px;
    right: 12.5%;
    z-index: 50;
    opacity: 0.5;
    user-select: initial;
}

#up:hover {
    background-color: var(--inputBG);
    transform: translateY(-2px);
    cursor: pointer;
    opacity: 1;
}

#up:hover #upSVG {
    transform: translateY(-2px);
}

#upSVG {
    position: relative;
    opacity: 80%;
    height: 20%;
    top: 40%;
    left: 40%;
    width: 20%;
}

#themeNotify {
    position: absolute;
    border-radius: 8px;
    z-index: 51;
    top: 110px;
    bottom: 0;
    left: 55px;
    margin: auto;
    background-color: var(--containerBG);
    width: 140px;
    height: 40px;
    color: var(--text);
    font-family: 'Roobert';
    padding-bottom: 9px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 0px 61px -12px rgba(0, 0, 0, 0.178);
    opacity: 0;
    user-select: none;
}

#themeNotify.active {
    position: absolute;
    opacity: 1;
    user-select: none;
}

#mobileNav {
    position: fixed;
    width: 240px;
    height: 60px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background);
    box-shadow: 0px 0px 61px -12px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    z-index: 100;
    display: none;
    user-select: none;
    pointer-events: none;
}

#backMobile {
    position: absolute;
    width: 80px;
    height: 100%;
    left: 0px;
    background-color: none;
    border-radius: 13px 0 0 13px;
    opacity: 30%;
    user-select: none;
    pointer-events: none;
}

#backMobile.active {
    opacity: 100%;
    user-select: initial;
    cursor: pointer;
    pointer-events: all;
}

#backMobile.active:hover {
    background-color: var(--mobileNavHover);
}

#homeMobile {
    position: absolute;
    width: 80px;
    height: 100%;
    background-color: none;
    left: 80px;
    cursor: pointer;
    opacity: 30%;
    user-select: none;
    pointer-events: none;
}

#homeMobile.active {
    opacity: 100%;
    user-select: initial;
    cursor: pointer;
    pointer-events: all;
}

#homeMobile.active:hover {
    background-color: var(--mobileNavHover);
}

#upMobile {
    position: absolute;
    width: 80px;
    height: 100%;
    left: 160px;
    border-radius: 0 13px 13px 0;
    cursor: pointer;
}

#upMobile:hover {
    background-color: var(--mobileNavHover);
}

#backButtonSVGMobile {
    position: relative;
    height: 32%;
    top: 34%;
    left: 34%;
    width: 32%;
    transition: all 0.2s ease-in-out;
}

#homeButtonSVGMobile {
    opacity: 80%;
    position: relative;
    height: 32%;
    top: 34%;
    left: 34%;
    width: 32%;
    transition: all 0.2s ease-in-out;
}

#upSVGMobile {
    position: relative;
    opacity: 80%;
    height: 28%;
    top: 36%;
    left: 36%;
    width: 28%;
}

@media only screen and (max-width: 1750px) {
    .grid-container {
        width: 70%;
        left: 15%;
    }
    .grid-item {
        font-size: 17px;
    }
    .bHeight {
        font-weight: 400;
        font-size: 17px;
    }
    .bTxs {
        font-size: 15px;
    }
    .bHash {
        font-family: 'CascadiaCode';
        font-weight: 200;
        font-size: 15px;
        padding-top: 24px;
        cursor: pointer;
    }
    .bAge {
        font-weight: 300;
        font-size: 15;
        padding-top: 22.5px;
        color: var(--text2);
    }
    #backButton {
        width: 100px;
        left: 8.5%;
    }
    #backButton.active {
        left: 8%;
    }
    #homeButton {
        width: 100px;
        left: 8.5%;
    }
    #homeButton.active {
        left: 8%;
    }
    #up {
        width: 80px;
        right: 8%;
    }
}

@media only screen and (max-width: 1500px) {
    .grid-container {
        width: 80%;
        left: 10%;
    }
    #backButton {
        width: 80px;
        left: 4%;
    }
    #backButton.active {
        left: 3.5%;
    }
    #homeButton {
        width: 80px;
        left: 4%;
    }
    #homeButton.active {
        left: 3.5%;
    }
    #up {
        width: 70px;
        right: 4%;
    }
}

@media only screen and (max-width: 1320px) {
    .grid-container {
        width: 86%;
        left: 7%;
    }
    #backButton {
        width: 80px;
        left: 0.5%;
        transform: scale(0.7);
    }
    #backButton.active {
        left: 0px;
    }
    #backButton:hover {
        background-color: transparent;
        transform: scale(0.7);
    }
    #homeButton {
        width: 80px;
        left: 0.5%;
        transform: scale(0.7);
    }
    #homeButton.active {
        left: 0px;
    }
    #homeButton:hover {
        background-color: transparent;
        transform: scale(0.7);
    }
    #up {
        width: 70px;
        right: 0.5%;
    }
    #up:hover {
        background-color: transparent;
    }
    .input {
        width: 500px;
    }
    #priceInfo {
        font-size: 14px;
        width: 180px;
    }
    .logo {
        transform: scale(0.8);
    }
    #error {
        width: 500px;
    }
}

@media only screen and (max-width: 1030px) {
    .grid-item {
        font-size: 17px;
    }
    .bHeight {
        font-weight: 400;
        font-size: 17px;
    }
    .bTxs {
        font-size: 15px;
    }
    .bHash {
        font-family: 'CascadiaCode';
        font-weight: 200;
        font-size: 15px;
        padding-top: 24px;
        cursor: pointer;
    }
    .bAge {
        font-weight: 300;
        font-size: 15;
        padding-top: 22.5px;
        color: var(--text2);
    }
    #backButton {
        display: none;
        user-select: none;
    }
    #homeButton {
        display: none;
        user-select: none;
    }
    #up {
        display: none;
        user-select: none;
    }
    #mobileNav {
        display: block;
        user-select: initial;
        pointer-events: all;
    }
    .logo {
        top: 35px;
        bottom: initial;
        left: 0px;
        right: 0;
    }
    .logo.active {
        top: -50px;
        opacity: 0;
        user-select: none;
        pointer-events: none;
    }
    #priceInfo {
        top: 180px;
        background-color: var(--inputBG);
        border-radius: 13px;
        left: 0;
        right: 0;
        bottom: initial;
    }
    #priceInfo.active {
        top: -30px;
        opacity: 0;
        user-select: none;
        pointer-events: none;
    }
    .input {
        transform: scale(1.1);
        top: 50px;
    }
    .input.active {
        transform: scale(0.85);
        top: 0px;
    }
    #error {
        transform: scale(1.1);
        top: 140px;
    }
    #error.active {
        transform: scale(1.1);
        top: 170px;
    }
    #themeNotify {
        transform: scale(0.7);
        top: -35px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 140px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
    }
    #themeText {
        position: absolute;
        top: 3px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media only screen and (max-width: 890px) {
    .grid-container {
        width: 96%;
        left: 2%;
    }
    .grid-item {
        font-size: 17px;
    }
    .bHeight {
        font-weight: 400;
        font-size: 15px;
    }
    .bTxs {
        font-size: 14px;
    }
    .bHash {
        font-family: 'CascadiaCode';
        font-weight: 200;
        font-size: 14px;
        padding-top: 24px;
        cursor: pointer;
    }
    .bAge {
        font-weight: 300;
        font-size: 14;
        padding-top: 22.5px;
        color: var(--text2);
    }
}

@media only screen and (max-width: 625px) {
    .grid-container {
        grid-template-columns: 18% 10% 48% 24%;
    }
    .input {
        width: 350px;
    }
    #error {
        width: 350px;
    }
}

@media only screen and (max-width: 500px) {
    .grid-item {
        padding: 22.5px;
        font-size: 14px;
        text-align: left;
        padding-left: 10px;
    }
    .bHeight {
        font-weight: 400;
        font-size: 12px;
        padding-left: 10px;
    }
    .bTxs {
        font-size: 12px;
    }
    .bHash {
        font-family: 'CascadiaCode';
        font-weight: 200;
        font-size: 12px;
        padding-top: 24px;
        cursor: pointer;
    }
    .bAge {
        font-weight: 300;
        font-size: 12;
        padding-top: 22.5px;
        color: var(--text2);
    }
    .input {
        width: 300px;
    }
    .input.active {
        width: 300px;
        transform: scale(0.85);
    }
    #error {
        width: 300px;
    }
}