@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Light.otf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Regular.otf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Medium.otf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-SemiBold.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Bold.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roobert';
    src: url("/Assets/Fonts/Roobert-Heavy.otf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'CascadiaCode';
    src: url("/Assets/Fonts/CascadiaCodePL-SemiLight.otf");
    font-style: normal;
    font-weight: 200;
}

:root {
    --background: rgb(247, 247, 247);
    --backgroundInv: rgb(19, 19, 19);
    --text: #2e2e2e;
    --text2: #898989;
    --orange:#ff6404;
    --lightorange:#ffece4;
    --containerBG: rgb(255, 255, 255);
    --buttonHoverBG: #ffece488;
    --inputBG: rgba(0, 0, 0, 0.048);
    --inputHover: rgba(0, 0, 0, 0.062);
    --inv: black;
}

[data-theme="dark"] {
    --background: #141414;
    --backgroundInv: rgb(247, 247, 247);
    --text: #b4b4b4;
    --text2: rgb(138, 138, 138);
    --orange:#ff6404;
    --lightorange: #2C1C12;
    --containerBG: #1B1B1B;
    --buttonHoverBG: #2c1c1254;
    --inputBG: rgba(0, 0, 0, 0.301);
    --inputHover: rgba(0, 0, 0, 0.662);
    --inv: white;
}

* {
    transition: all 0.15s ease-in-out;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 110%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: var(--background);
}

header {
    position: absolute;
    background-color: var(--background);
    width: 100%;
    height: 210px;
    top: 0%;
    z-index: 10;
}

.logo {
    position: absolute;
    height: 20%;
    top: 77px;
    left: 100px;
    z-index: 70;
}

.logo:hover {
    cursor: pointer;
}

.nhr {
    position: absolute;
    bottom: 86px;
    width: 90%;
    right: 100px;
    font-size: 20px;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--backgroundInv);
    text-align: right;
    align-items: right;
    opacity: 100%;
}

#hashrate {
    position: absolute;
    bottom: 61px;
    width: 90%;
    right: 100px;
    font-size: 20px;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--orange);
    text-align: right;
    align-items: right;
    opacity: 100%;
}
.grid-container {
    position: absolute;
    width: 60%;
    height: 72px;
    left: 20%;
    top: 260px;
    display: grid;
    grid-template-columns: 14% 9% 60% 17%;
    background-color: none;
    opacity: 0;
    transition-delay: 0.1s;
}

.grid-container.active {
    opacity: 1;
    z-index: 20;
}

.grid-item {
    background-color:var(--containerBG);
    padding: 22.5px;
    font-size: 22px;
    color: var(--text);
    text-align: center;
    font-family: 'Roobert';
    font-weight: 200;
}

.grid-item:nth-child(1) {
    background-color: var(--lightorange);
    border-radius: 13px 0 0 0;
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--orange);
}
.grid-item:nth-child(2) {
    background-color: var(--lightorange);
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--orange);
}
.grid-item:nth-child(3) {
    background-color: var(--lightorange);
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--orange);
}
.grid-item:nth-child(4) {
    background-color: var(--lightorange);
    border-radius: 0 13px 0 0;
    border: 0px solid;
    font-family: 'Roobert';
    font-weight: 400;
    color: var(--orange);
}
.grid-item:nth-last-child(4) {
    border-radius: 0 0 0 13px;
} 

.grid-item:nth-last-child(1) {
    border-radius: 0 0 13px 0;
} 

.input {
    position: absolute;
    top: 80px;
    border-radius: 13px;
    border-style: none;
    background-color: var(--inputBG);
    height: 45px;
    right: 34%;
    width: 32%;
    outline: none;
    font-size: 14px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Roobert';
    font-weight: 300;
    color: var(--text);
    z-index: 12;
}

.input:hover {
    background-color: var(--inputHover);
}

.input:focus {
    background-color: var(--inputHover);
}

.hashHover:hover {
    color: var(--orange);
    transition: all 0.025s ease-in-out;
}

#backButton {
position: fixed;
height: 60px;
width: 130px;
border-width: 1px;
border-radius: 9px;
top: 266px;
left: 12.5%;
z-index: 20;
opacity: 0;
user-select: none;
}

#backButton.active {
    left: 12%;
    opacity: 1;
    user-select: initial;
    cursor: pointer;
    }

#backButton:hover {
    background-color: var(--buttonHoverBG);
    transform: translateX(-2px);
    }

    #backButton:hover #backButtonSVG {
        transform: translateX(-4px);
        opacity: 1;
        }

#backButtonSVG {
    position: relative;
    opacity: 80%;
    height: 40%;
    top: 30%;
    left: 30%;
    width: 40%;
    transition: all 0.2s ease-in-out;
}

#homeButton {
    position: fixed;
    height: 60px;
    width: 130px;
    border-width: 1px;
    border-radius: 9px;
    top: 336px;
    left: 12.5%;
    z-index: 20;
    opacity: 0;
    user-select: none;
    }
    
    #homeButton.active {
        left: 12%;
        opacity: 1;
        user-select: initial;
        cursor: pointer;
        }
    
    #homeButton:hover {
        background-color: var(--buttonHoverBG);
        transform: translateX(-2px);
        }
    
        #homeButton:hover #homeButtonSVG {
            transform: translateX(-4px);
            opacity: 1;
            }
    
    #homeButtonSVG {
        opacity: 80%;
        position: relative;
        height: 40%;
        top: 30%;
        left: 30%;
        width: 40%;
        transition: all 0.2s ease-in-out;
    }

#error {
    position: absolute;
    height: 45px;
    right: 34%;
    width: 32%;
    border-radius: 13px;
    top: 139px;
    background-color: var(--containerBG);
    z-index: 0;
    opacity: 0;
    user-select: none;
    box-shadow: 0px 0px 61px -12px rgba(0, 0, 0, 0.178);
}

#error.active {
    opacity: 1;
    z-index: 50;
    user-select: initial;
    top: 140px;
}

#closeButton {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 3px;
    top: 1px;
    opacity: 30%;
    padding: 15px;
    z-index: 55;
    fill: var(--text);
}

#closeButton:hover {
    transform: rotate(90deg);
    opacity: 1;
    cursor: pointer;
    border-radius: 53px;
}

#errorText {
    position: relative;
    width: 100%;
    font-family: 'Roobert';
    font-size: 14px;
    font-weight: 300;
    color: #ff0022;
    padding-left: 20px;
    text-align: left;
    vertical-align: middle;
}

#up {
    position: fixed;
    height: 50px;
    width: 100px;
    border-width: 1px;
    border-radius: 9px;
    bottom: 30px;
    right: 12.5%;
    z-index: 50;
    opacity: 0.5;
    user-select: initial;
}


#up:hover {
    background-color: var(--inputBG);
    transform: translateY(-2px);
    cursor: pointer;
    opacity: 1;
}

#up:hover #upSVG{
    transform: translateY(-2px);
}

#upSVG {
    position: relative;
    opacity: 80%;
    height: 20%;
    top: 40%;
    left: 40%;
    width: 20%;
}

.theme-switch {
    position: fixed;
    display: inline;
    position: absolute;
    bottom: 2%;
    left: 2%;
    padding-left: 30px;
    padding-bottom: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.theme-switch input {
    position: fixed;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: fixed;
    bottom: 3%;
    left: 2%;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: var(--text);
    opacity: 30%;
    transition: all 0.25s ease-out;
}


.theme-switch input:checked~.checkmark {
    background-color: var(--text);
    transition: all 0.25s ease-out;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    transition: all 0.25s ease-out;
}

.theme-switch input:checked~.checkmark:after {
    display: block;
    transition: all 0.25s ease-out;
}

#themeNotify {
    position: absolute;
    border-radius: 8px;
    z-index: 40;
    bottom: 2%;
    left: 3.7%;
    background-color: var(--containerBG);
    width: 140px;
    height: 40px;
    color: var(--text);
    font-family: 'Roobert';
    padding-bottom: 9px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 0px 61px -12px rgba(0, 0, 0, 0.178);
    opacity: 0;
    user-select: none;
}

#themeNotify.active {
    position: absolute;
    border-radius: 8px;
    z-index: 40;
    bottom: 2%;
    left: 4%;
    background-color: var(--containerBG);
    width: 140px;
    height: 40px;
    color: var(--text);
    font-family: 'Roobert';
    padding-bottom: 9px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 0px 61px -12px rgba(0, 0, 0, 0.178);
    opacity: 1;
    user-select: none;
}

