.grid-container-tx-wrapper {
    opacity: 0;
    z-index: 0;
    user-select: none;
    transition-delay: 0.1s;
}

.grid-container-tx-wrapper.active {
    opacity: 1;
    z-index: 27;
    user-select: initial;
}

.grid-container-tx-section1 {
    position: absolute;
    display: grid;
    grid-template-columns: 70% 30%;
    width: 60%;
    height: 50px;
    left: 20%;
    top: 260px;
    opacity: 1;
    z-index: 29;
    user-select: initial;
}

.grid-item-tx-section1 {
    background-color:#ff6404;
    border-radius: 13px 13px 0 0;
    font-size: 22px;
    color: #ffece4;
    text-align: left;
    padding-left: 46px;
    padding-top: 7px;
    font-family: 'Roobert';
}

.grid-item-tx-section1:nth-child(1) {
    border-radius: 13px 0 0 0;
}

.grid-item-tx-section1:nth-child(2) {
    border-radius: 0 13px 0 0;
    text-align: right;
    padding-right: 46px;
    padding-top: 9.5px;
    font-weight: 200;
    font-size: 15px;
}

.grid-container-tx-section2 {
    position: absolute;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 60%;
    height: 72px;
    left: 20%;
    top: 300px;
    opacity: 1;
    z-index: 30;
}

.grid-item-tx-section2 {
    background-color:rgb(255, 255, 255);
    padding: 22.5px;
    font-size: 22px;
    color: #2e2e2e;
    text-align: left;
    padding-left: 46px;
    font-family: 'Roobert';
    font-weight: 400;
}

.grid-item-tx-section2:nth-child(1) {
    border-radius: 13px 0 0 0;
}

.grid-item-tx-section2:nth-child(2) {
    border-radius: 0 13px 0 0;
    padding-left: 0px;
    padding-top: 28px;
    font-family: 'CascadiaCode';
    font-size: 17px;
}

.grid-item-tx-section2:nth-child(4) {
    padding-left: 0px;
    padding-top: 28px;
    font-family: 'CascadiaCode';
    font-size: 17px;
}

.grid-container-tx-section3 {
    position: absolute;
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    width: 60%;
    height: 72px;
    left: 20%;
    top: 440px;
    opacity: 1;
    z-index: 30;
}

.grid-item-tx-section3 {
    background-color:rgb(255, 255, 255);
    padding: 22.5px;
    font-size: 22px;
    color: #2e2e2e;
    text-align: left;
    padding-left: 46px;
    font-family: 'Roobert';
    font-weight: 400;
}

.grid-item-tx-section3:nth-child(2) {
    padding-left: 0px;
    padding-top: 28px;
    font-family: 'CascadiaCode';
    font-size: 17px;
}

.grid-item-tx-section3:nth-child(4) {
    padding-left: 0px;
    padding-top: 28px;
    font-family: 'CascadiaCode';
    font-size: 17px;
}

.grid-item-tx-section3:nth-child(6) {
    padding-left: 0px;
    padding-top: 28px;
    font-family: 'CascadiaCode';
    font-size: 17px;
}

.grid-item-tx-section3:nth-child(8) {
    padding-left: 0px;
    padding-top: 28px;
    font-family: 'CascadiaCode';
    font-size: 17px;
}

.grid-container-tx-section4 {
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    width: 60%;
    height: 50px;
    left: 20%;
    top: 630px;
    opacity: 1;
    z-index: 29;
    user-select: initial;
}

.grid-item-tx-section4 {
    background-color:#1f1f1f;
    color: #ffffff;
    border-radius: 13px 13px 0 0;
    font-size: 22px;
    text-align: left;
    padding-left: 46px;
    padding-top: 7px;
    font-family: 'Roobert';
}

.grid-container-tx-section5 {
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    width: 60%;
    height: 72px;
    left: 20%;
    top: 670px;
    opacity: 1;
    z-index: 30;
}

.grid-item-tx-section5 {
    background-color:rgb(255, 255, 255);
    padding: 22.5px;
    font-size: 17px;
    padding-top: 28px;
    color: #2e2e2e;
    text-align: left;
    padding-left: 46px;
    font-family: 'CascadiaCode';
    font-weight: 400;
}

.grid-item-tx-section5:nth-child(1) {
    font-size: 22px;
    border-radius: 13px 13px 0 0;
    color: #000000;
    text-align: left;
    padding-left: 46px;
    font-family: 'Roobert';
}

.grid-item-tx-section5:nth-last-child(1) {
    border-radius: 0 0 13px 13px;
}

.grid-container-tx-section6 {
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    width: 60%;
    height: 50px;
    left: 20%;
    top: 840px;
    opacity: 1;
    z-index: 29;
    user-select: initial;
}

.grid-item-tx-section6 {
    background-color:#1f1f1f;
    color: #ffffff;
    border-radius: 13px 13px 0 0;
    font-size: 22px;
    text-align: left;
    padding-left: 46px;
    padding-top: 7px;
    font-family: 'Roobert';
}

.grid-container-tx-section7 {
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    width: 60%;
    height: 72px;
    left: 20%;
    top: 880px;
    opacity: 1;
    z-index: 30;
}

.grid-item-tx-section7 {
    background-color:rgb(255, 255, 255);
    padding: 22.5px;
    font-size: 17px;
    padding-top: 28px;
    color: #2e2e2e;
    text-align: left;
    padding-left: 46px;
    font-family: 'CascadiaCode';
    font-weight: 400;
}

.grid-item-tx-section7:nth-child(1) {
    font-size: 22px;
    border-radius: 13px 13px 0 0;
    color: #000000;
    text-align: left;
    padding-left: 46px;
    font-family: 'Roobert';
}

.grid-item-tx-section7:nth-last-child(1) {
    border-radius: 0 0 13px 13px;
}

